<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{{ page.title }} - {{ site.name }}</title>
		<link rel="stylesheet" href="{{ site.baseurl }}{% link styles.css %}" />
	</head>
	<body>
		<img class="block" src="{{ site.baseurl }}{% link img/logo.png %}" />

		<div id="menu" class="block">
{% for page in site.pages %}
			<a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
{% endfor %}
		</div>

		<div class="block content">
			{{ content }}
		</div>
	</body>
</html>
